.TopNav {
    position: fixed;
    top:0;
    right:0;
    width: 100vw;
    z-index: 10;
}
.navbar-brand {
  color: #00897B !important;
  font-weight: 800;
  padding: 0 !important;
  font-size: 25px;
}
.navbar-brand>.rs-icon {
  font-size: 30px !important;
  margin-right: 6px !important;
}
.TopNav .btn:hover {
  color: #575757;
  background-color: #e5e5ea;
}
.TopNav .btn {
  background: inherit;
  transition: color 0.2s linear, background-color 0.3s linear;
    transition-property: color, background-color;
    transition-duration: 0.2s, 0.3s;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;
}
.TopNav .btn:focus {
  box-shadow: none;
}
.search {
  width: 50%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: none;
  color: #9DBFAF;
  background: #ECEFF0;
}

.searchTerm:focus{
  color: #00B4CC;
  background: #ECEFF0;
}

.searchButton {
  width: 40px;
  height: 30px;
  text-align: center;
  color: #7E8084;
  background: #ECEFF0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}