.App {
  text-align: center;
  width: 100%;
  height: calc(100vh - 48px);
  overflow-y: auto;
}

.MainFrame {
  display: flex;
  width: 100%;
  margin-top: 55px;
  background: #FAFAFA;
}

.container {
  max-width: 100%;
  min-width: 100%;
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
